html, body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#menu{
    background: pink;
    width: 50vw;
    height: 0vh;
    position: fixed;
    z-index: 10;
    display: flex;
    #left{
        visibility: hidden;
        opacity: 0;
        height: 100vh;
        width: 50vw;
        overflow: hidden;
        display: flex;
        color: black;
        font-size: 5rem;
        font-weight: bolder;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        #item{
            color: black;
            text-decoration: none;
            &:hover{
                cursor: pointer;
                color: white;
            }
        }
    }
    #right{
        visibility: hidden;
        opacity: 0;
        height: 100vh;
        width: 50vw;
        overflow: hidden;
        display: flex;
        color: black;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        #top{
            font-size: 5rem;
            font-weight: bolder;
            margin-bottom: 2rem;
        }
        #middle{
            font-size: 1rem;
            width: 20vw;
            margin-bottom: 4rem;
            line-height: 1.5;
        }
        #bottom{
            font-size: 2rem;
            font-weight: bolder;
            color: black;
            text-decoration: none;
            &:hover{
                cursor: pointer;
                color: white;
            }
        }
    }
}
#nav{
    height: 20vh;
    width: 100vw;
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    mix-blend-mode: difference;
    span{
        font-size: 3rem;
        font-weight: bolder;
        margin-left: 4rem;
        font-family: 'Times New Roman', Times, serif;
    }
    i{
        cursor: pointer;
        margin-right: 4rem;
        font-size: 1.8rem;
    }
}

#career-page-wrapper{
    color: white;
    background: whitesmoke;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    #column{
        height: 80vh;
        width: 25vw;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: .6;
        transition: all 1s ease;

        &:nth-child(1){
            background-image: url("images/uiux.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            &:hover{
                opacity: 1;
                width: 40vw;
            }
        }
        &:nth-child(2){
            background-image: url("images/convertedworkers.webp");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            &:hover{
                opacity: 1;
                width: 40vw;
            }
        }
        &:nth-child(3){
            background-image: url("images/convertedoffice.webp");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            &:hover{
                opacity: 1;
                width: 40vw;
            }
        }
        &:nth-child(4){
            background: red;
            opacity: 1;
            &:hover{
                width: 40vw;
            }
        }
    }
}