html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}

#menu {
  position: fixed;
}

.showmenu {
  background: red;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
}

#nav {
  height: 20vh;
  width: 100vw;
  position: fixed;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav span {
  background: transparent;
  font-size: 3rem;
  font-weight: bolder;
  margin-left: 4rem;
  font-family: 'Times New Roman', Times, serif;
}

#nav svg {
  background: transparent;
  margin-right: 4rem;
}

#fixed-page {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#fixed-page #left {
  width: 50vw;
  height: 100vh;
}

#fixed-page #right {
  width: 50vw;
  height: 100vh;
  background: orange;
}

#fixed-page #right span {
  font-size: 4rem;
}

#scroll-wrapper {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 600vw;
}

#scroll-wrapper #first {
  height: 100vh;
  width: 180vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#scroll-wrapper #first #particles-div {
  background: white;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

#scroll-wrapper #first #side-text {
  font-size: 1rem;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  white-space: nowrap;
  margin-left: -5rem;
  z-index: 10;
  background: white;
}

#scroll-wrapper #first #inner-div {
  width: 50vw;
  z-index: 10;
  background: white;
}

#scroll-wrapper #first #inner-div #title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 4rem;
  font-weight: bolder;
  display: block;
  margin-bottom: .5rem;
}

#scroll-wrapper #first #inner-div #description {
  line-height: 1.5;
}

#scroll-wrapper #first #img-container {
  height: 70vh;
  width: 100vw;
  margin-left: 80vw;
  position: absolute;
  background-image: url(images/bigphoto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#scroll-wrapper #first #img-container #text-bk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 50vh;
  width: 30vw;
  background: rgba(255, 255, 255, 0.8);
}

#scroll-wrapper #first #img-container #text-bk #short-bio-text {
  color: black;
  line-height: 2;
  font-size: 1.5rem;
  font-style: italic;
  border-style: solid;
  border-color: orange;
  border-left: none;
  border-right: none;
}

#scroll-wrapper #second {
  background: white;
  height: 100vh;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#scroll-wrapper #second #about-description {
  font-size: 2rem;
  margin-bottom: 2rem;
  padding: 0 10vw;
}

#scroll-wrapper #second #about-link {
  font-size: 1.5rem;
  padding: 0 10vw;
}

#scroll-wrapper #third {
  background: white;
  height: 100vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

#scroll-wrapper #third #a {
  background-image: url(images/a.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 1vh 1vw;
}

#scroll-wrapper #third #b {
  background-image: url(images/b.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 1vh 1vw;
}

#scroll-wrapper #third #c {
  background-image: url(images/c.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 1vh 1vw;
}

#scroll-wrapper #third #d {
  background-image: url(images/d.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 1vh 1vw;
}

#scroll-wrapper #third #e {
  background: pink;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  margin: 1vh 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#scroll-wrapper #third #e #view-work-link {
  font-size: 1.5rem;
}

#scroll-wrapper #fourth {
  background: white;
  height: 100vh;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#scroll-wrapper #fourth #services-description {
  font-size: 2rem;
  margin-bottom: 2rem;
  padding: 0 10vw;
}

#scroll-wrapper #fourth #services-link {
  font-size: 1.5rem;
  padding: 0 10vw;
}

#scroll-wrapper #fifth {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: pink;
}

#scroll-wrapper #fifth #award-img {
  width: 50vw;
  height: 100vh;
  background-image: url(images/trophy.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#scroll-wrapper #fifth #award-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50vw;
  height: 100vh;
}

#scroll-wrapper #fifth #award-list span {
  font-size: 3rem;
  margin: 1rem 0;
  font-weight: bolder;
  color: white;
}

#scroll-wrapper #fifth #award-list div {
  height: 1px;
  background: white;
  width: 30vw;
}

#scroll-wrapper #sixth {
  background: white;
  width: 30vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

#scroll-wrapper #sixth #top {
  background-image: url(images/office.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 1vh 1vw;
}

#scroll-wrapper #sixth #bottom {
  background-image: url(images/workers.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 1vh 1vw;
}

#scroll-wrapper #seventh {
  background: red;
  height: 100vh;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#scroll-wrapper #seventh #career-description {
  font-size: 2rem;
  margin-bottom: 2rem;
  padding: 0 10vw;
}

#scroll-wrapper #seventh #career-link {
  font-size: 1.5rem;
  padding: 0 10vw;
}

#scroll-wrapper #eight {
  width: 50vw;
  height: 100vh;
}
/*# sourceMappingURL=style.css.map */