html, body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    overflow-x: hidden;
}
$bkcolor: white;
#menu{
    position: fixed;
}
.showmenu{
    background: red;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10;
}
#nav{
    height: 20vh;
    width: 100vw;
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span{
        background: transparent;
        font-size: 3rem;
        font-weight: bolder;
        margin-left: 4rem;
        font-family: 'Times New Roman', Times, serif;
    }
    svg{
        background: transparent;
        margin-right: 4rem;
    }
}
#fixed-page{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    display: flex;
    #left{
        width: 50vw;
        height: 100vh;
    }
    #right{
        width: 50vw;
        height: 100vh;
        background: orange;
        span{
            font-size: 4rem;
        }
    }
}
#scroll-wrapper{
    background: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
    //this width = sum of child widths
    width: 600vw;

       #first{
            height: 100vh;
            width: 180vw;
            display: flex;
            align-items: center;
            #particles-div{
                background: $bkcolor;
                height: 100vh;
                width: 100vw;
                position: fixed;
            }
            #side-text{
                font-size: 1rem;
                transform: rotate(-90deg);
                -webkit-transform: rotate(-90deg);
                white-space: nowrap;
                margin-left: -5rem;
                z-index: 10;
                background: $bkcolor;
            }
            #inner-div{
                width: 50vw;
                z-index: 10;
                background: $bkcolor;
                #title{
                    font-family: 'Times New Roman', Times, serif;
                    font-size: 4rem;
                    font-weight: bolder;
                    display: block;
                    margin-bottom: .5rem;
                }
                #description{
                    line-height: 1.5;
                }
            }
            #img-container{
                height: 70vh;
                width: 100vw;
                margin-left: 80vw;
                position: absolute;
                background-image: url(images/bigphoto.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                display: flex;
                justify-content: center;
                align-items: center;
                #text-bk{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    height: 50vh;
                    width: 30vw;
                    background: rgba(255, 255, 255, 0.8);
                    #short-bio-text{
                        color: black;
                        line-height: 2;
                        font-size: 1.5rem;
                        font-style: italic;
                        border-style: solid;
                        border-color: orange;
                        border-left: none;
                        border-right: none;
                    }
            }
            }
        }

        #second{
            background: white;
            height: 100vh;
            width: 80vw;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            #about-description{
                font-size: 2rem;
                margin-bottom: 2rem;
                padding: 0 10vw;
            }
            #about-link{
                font-size: 1.5rem;
                padding: 0 10vw;
            }
        }
        
        #third{
            background: white;
            height: 100vh;
            width: 100vw;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            #a{
                background-image: url(images/a.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                margin: 1vh 1vw;
            }
            #b{
                background-image: url(images/b.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                margin: 1vh 1vw;
            }
            #c{
                background-image: url(images/c.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                margin: 1vh 1vw;
            }
            #d{
                background-image: url(images/d.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                margin: 1vh 1vw;
            }
            #e{
                background: pink;
                grid-row: 1/3;
                grid-column: 3/4;
                margin: 1vh 1vw;
                display: flex;
                justify-content: center;
                align-items: center;
                #view-work-link{
                    font-size: 1.5rem;
                }
            }
        }

        #fourth{
            background: white;
            height: 100vh;
            width: 80vw;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            #services-description{
                font-size: 2rem;
                margin-bottom: 2rem;
                padding: 0 10vw;
            }
            #services-link{
                font-size: 1.5rem;
                padding: 0 10vw;
            }
        }

        #fifth{
            width: 100vw;
            height: 100vh;
            display: flex;
            background: pink;
            #award-img{
                width: 50vw;
                height: 100vh;
                background-image: url(images/trophy.png);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }
            #award-list{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 50vw;
                height: 100vh;
                span{
                    font-size: 3rem;
                    margin: 1rem 0;
                    font-weight: bolder;
                    color: white;
                }
                div{
                    height: 1px;
                    background: white;
                    width: 30vw;
                }
            }
        }
        #sixth{
            background: white;
            width: 30vw;
            height: 100vh;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            #top{
                background-image: url(images/office.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                margin: 1vh 1vw;
            }
            #bottom{
                background-image: url(images/workers.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                margin: 1vh 1vw;
            }
        }
        #seventh{
            background: red;
            height: 100vh;
            width: 80vw;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            #career-description{
                font-size: 2rem;
                margin-bottom: 2rem;
                padding: 0 10vw;
            }
            #career-link{
                font-size: 1.5rem;
                padding: 0 10vw;
            }
        }
        #eight{
            width: 50vw;
            height: 100vh;
        }
      
  }